a{
    text-decoration: underline;
}

img{
    width: 100%;
}

.status-circle{
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.status-circle.active{
    background-color: chartreuse
}

.status-circle.broken{
    background-color: crimson
}

.status-circle.paused{
    background-color: yellow
}

.status-circle.out{
    background-color: grey
}

.time{
    color: black;
}

.secondary-text{
    font-size: small
}

.action-btn{
    width: 36px;
    height: 36px;
    padding: 4px;
    border: 1px solid;
    border-radius: 4px;
    display: inline-block
}

.link-btn{
    text-decoration: underline;
    color: #007bff
}


.icon-wrap-inline{
    display: inline-block;
    width: 16px;
    height: 16px;
}

.table-header{
    width: 100%;
    margin: 16px 0;
}

.header-search{
    text-align: left;
    display: inline-block;
    position: relative;
    top: 20px;
}

.header-search input{
    display: inline-block;
    border: 1px solid !important;
    height: 37px;
    padding: 4px;
    border-radius: 4px;
    width: 300px
}
.header-search .action-btn{
    position: relative;
    right: 36px;
}

.header-info{
    text-align: right;
    display: inline-block;
    float: right;
}

#templates{
    /* display: none; */
}

.popover{
    padding: 16px;
    border-radius: 8px;
    z-index: 1;
    text-align: center;
}

.pop-img{
    width: 150px;
    height: 110px;
    margin: auto;
}


.modal-wrap{
    background-color: rgba(0, 0, 0, 0.35);
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}